
/* Como utilizo bootstrap, lo hace solo por mi (utilizando sus clases en el HTML, no hace falta escribirlo a mano*/

.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: none; /* Opcional: quita el borde gris para un look más limpio */
}

.card:hover {
  transform: translateY(-5px); /* Se mueve hacia arriba */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; /* Sombra más fuerte */
}