<div class="home-container">
  
  <header class="header">
    <div class="brand">
      <h1>Peluquería<span class="accent">Dev</span></h1>
    </div>
    
    <div class="search-bar"> <!-- Barra de búsqueda para buscar peluquerias -->
      <input type="text" placeholder="Buscar peluquería por nombre..."
      [(ngModel)]="searchTerm"
      (input)="filtrarResultados()">
      <button (click)="filtrarResultados()" >Buscar</button>
    </div>
  </header>

  <main>
    <h2 class="section-title">Nuestras Peluquerías</h2>
    
    <div class="grid">
      <!-- Bucle que pinta las tarjetas -->
      <app-peluqueria-card 
        *ngFor="let item of peluquerias" 
        [peluqueriaInfo]="item">
      </app-peluqueria-card>
    </div>
  </main>

</div>
