.img-cover {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Hacemos que el precio resalte más */
.precio-badge {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Pequeño ajuste para la transición del hover en los servicios */
.list-group-item {
  transition: all 0.2s;
  cursor: pointer;
}